#create .w-btn {
    margin-top: 30px;
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

#create .w-btn-blue {
    background-color: #444444;
    color: #d4dfe6;
}

#create input {
    margin-bottom: 15px;
}

#create {
    margin-top: 80px;
}
